In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df=sns.load_dataset('tips')

In [3]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [4]:
df=pd.get_dummies(df, drop_first=True)

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

X=df.drop('tip', axis=1)
y=df[['tip']]

X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.2)
scaler=StandardScaler()
X_train_scaled=scaler.fit_transform(X_train)
X_test_scaled=scaler.fit_transform(X_test)

y_train_scaled=scaler.fit_transform(y_train)
y_test_scaled=scaler.fit_transform(y_test)

In [6]:
from sklearn.linear_model import LinearRegression

reg=LinearRegression()
reg.fit(X_train_scaled, y_train_scaled)
reg.score(X_test_scaled, y_test_scaled)

0.4037598052061475

In [7]:
from sklearn.tree import DecisionTreeRegressor

dt=DecisionTreeRegressor(max_depth=5)
dt.fit(X_train_scaled, y_train_scaled)
dt.score(X_test_scaled, y_test_scaled)

0.5050743220720684

In [8]:
from sklearn.ensemble import RandomForestRegressor

dt=RandomForestRegressor(max_depth=5)
dt.fit(X_train_scaled, y_train_scaled)
dt.score(X_test_scaled, y_test_scaled)

<ipython-input-8-d74a179fb5e2>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  dt.fit(X_train_scaled, y_train_scaled)

0.4476768348450568